<div class="container email-container">
  <div class="col-md-12 text-center bottom-margin">
    <%= image_tag("logo-pink.png", class: "logo") %>
  </div>
  <div class="col-md-12">
    <p class="text-left">Hey there,</p>
    <p class="text-left">We're excited for this application we're currently developing. We're putting our heart and soul into this project and we want to thank you for your interest. We hope it's a useful tool to connect with other people in your community and for discovering new regions as well. We don't have a time estimate on a release date but it will most definitely be before 2017. We want to make sure the app is fully tested and as bug free as possible so I'm sure you'll understand the need to take our time. Once we tie up all loose ends, we'll be sending you an email. Thanks again and have a great day.</p>
    <p>Sincerely,</p>
    <p>The team at Words & Moves</p>
  </div>
</div>
