<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in or Sign up", new_session_path(resource_name), class: "btn btn-primary button-100 bottom-margin-form" %>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "btn btn-primary button-100" %></p>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <p><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "btn btn-primary button-10" %></p>
<% end -%>
