<div class="container-fluid col-lg-10 feed-margin">
  <% for item in @item_list %>
    <div class="col-lg-12 post">
     <%= render 'item_row', item: item %>
    </div>
  <% end %>
</div>


<div class="container-fluid col-lg-2 sidenav-margin">
   <div class='panel panel-primary'>
        <h3><a href="#">hot</a></h3>
        <h3><a href="#">new</a></h3>
        <h3><a href="#">rising</a></h3>
        <h3><a href="#">posts</a></h3>
        <h3><a href="#">events</a></h3>
      </div>
      <div class='panel panel-primary'>
        <h4><a href="#">Hip-Hop</a></h4>
        <h4><a href="#">Rock</a></h4>
        <h4><a href="#">Alternative</a></h4>
        <h4><a href="#">Reggae</a></h4>
        <h4><a href="#">Pop</a></h4>
        <h4><a href="#">Punk</a></h4>
        <h4><a href="#">Progressive</a></h4>
        <h4><a href="#">Jazz</a></h4>
        <h4><a href="#">Dance</a></h4>
      </div>
</div>

