<div class="container settings-container">
  <div class="col-md-12 settings-background">
    <p class="text-left">RESET YOUR PASSWORD</p>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="field bottom-margin-form">
        <%= f.email_field :email, placeholder: "email", autofocus: true, class: "form-control" %>
      </div>

      <div class="actions bottom-margin-form">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary button-100" %>
      </div>
    <% end %>
    <p class="text-center">OR</p>
    <%= render "devise/shared/links" %>
  </div>
</div>
