<div class="container">
  <h1>Posts</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <td>Title</td>
      <td>Category</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>
  <% for post in @posts %>
    <tr>
      <td><%= link_to(post.title, region_post_path(post.region, post)) %></td>
      <td><%= post.category.name %></td>
      <td><%= link_to("Edit", edit_region_post_path(post.region, post), class: "btn btn-sm btn-secondary") %></td>
      <td><%= delete_button_to("Delete", region_post_path(post.region, post), form: { remote: true }, button: { class: "btn btn-sm btn-primary" } ) %></td>
    </tr>
  <% end %>
</div>