@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";

$pink: rgb(236,0,140);
$lightPink: rgb(255,191,242);
$darkPink: rgb(203,1,121);
$yellow: rgb(255,242,0);
$darkYellow: rgb(231,219,0);
$blue: rgb(0,174,239);
$grayLighter: #eeeeee;

/* Landing Page */

.home-subscribe {
  color: black;
  background-color: white;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

  h2 {
    color: $pink;
    margin-top: 20px;
  }

  h3 {
    color: $blue;
  }

  input {
    font-size: 18px;
    display: inline-block;
    height: 50px;
    width: 300px;
  }

  .btn-primary {
    font-size: 20px;
    height: 50px;
    margin-bottom: 5px;
  }
}

.landing-background {
  background-color: $yellow;
}

.landing-icon {
  margin-top: 20px;
  max-width: 100%;
  max-height: 100%;
}

.home-music {
  background-color: $pink;
  min-height: 100px;
  padding-bottom: 10px;
  color: white;
}

.home-films {
  background-color: $blue;
  min-height: 100px;
  padding-bottom: 10px;
  color: white;
}

.home-arts {
  background-color: $pink;
  min-height: 100px;
  padding-bottom: 10px;
  color: white;
}

.home-sports {
  background-color: $blue;
  min-height: 100px;
  padding-bottom: 10px;
  color: white;
}

/* Navbar */

.logo {
  height: 40%;
  width: 40%;
}

.navbar {
  height: 100%;
  background-color: white;
  border-color: white;
  border-radius: 0px;
  margin-bottom: 0px;
  z-index: 9999;

  .sign-button {
    font-size: 20px;
    margin-top: 10px;
    color: $pink;
    background-color: white;
    border-color: $pink;
    padding-top: 1px;
    padding-bottom: 1px;

    &:hover {
      color: white;
      background-color: $pink;
    }
  }

  .nav-button {
    font-size: 20px;
    margin-top: 10px;
    color: $blue;
    background-color: white;
    border-color: $blue;
    padding-top: 1px;
    padding-bottom: 1px;

    &:hover {
      color: white;
      border-color: $blue;
      background-color: $blue;
    }
  }
}
.category-nav {
  padding-left: 0px;
  padding-right: 0px;

  .category-button {
  font-size: 15px;
  margin-bottom: 10px;
  color: black;
  background-color: white;
  border-color: black;
  padding-top: 1px;
  padding-bottom: 1px;

  &:hover {
    color: white;
    border-color: black;
    background-color: black;
  }
 }

 .subscribe-button {
    font-size: 15px;
    margin-bottom: 10px;
    color: $pink;
    background-color: white;
    border-color: $pink;
    padding-top: 1px;
    padding-bottom: 1px;

    &:hover {
      color: white;
      background-color: $pink;
    }
  }
}


.navbar-default {
   h2 {
    color: $pink;
    margin-top: 5px;
  }
}

.logo-margin {
  margin-top: 8px;
}

.navbar {

  h1 {
    font-weight: 500;
    font-size: 40px;
    color: black;
    margin-top: 0px;
  }
}



/* login */

.authentication-container {
  margin-top:40px;
  width: 805px;
}

.settings-container {
  margin-top: 40px;
  width: 400px;
}

.item-container {
  margin-top: 40px;
}

.settings-background {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}

.sign-up {
  border-right: 1px solid;
  border-color: $pink;
  padding-left: 25px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.sign-in {
  padding-right: 25px;
  padding-left: 40px;
}

body {
  background-color: $blue;
}

.login-background {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}

.g-recaptcha {
  margin: 0 auto;display: table
}

.bottom-margin-form {
  margin-bottom: 10px;
}

.button-100 {
  width: 100%;
}

.sign-out {
  display: inline;
}

.remember-me {
  font-size: 14px;
}

.forgot-password {
  font-size: 14px;
  margin-left: 98px;
}

.checkbox input[type="checkbox"] {
  margin-left: 0;
}

/* buttons */

.btn-primary {
  background-color: $pink;
  border-color: $pink;

  &:hover {
    background-color: $pink;
    border-color: $pink;
  }

  &:active {
    background-color: $pink;
    border-color: $pink;
  }

  &.active {
    background-color: $darkPink;
    border-color: $darkPink;

    &:hover {
      background-color: $darkPink;
      border-color: $pink;
    }
  }

  &:focus {
    background-color: $pink;
    border-color: $pink;
  }
}

.btn-secondary {
  background-color: $yellow;
  border-color: $yellow;

  &:hover {
    background-color: $yellow;
    border-color: $yellow;
  }

  &:active {
    background-color: $yellow;
    border-color: $yellow;
  }

  &.active {
    background-color: $darkYellow;
    border-color: $darkYellow;

    &:hover {
      background-color: $darkYellow;
      border-color: $yellow;
    }
  }

  &:focus {
    background-color: $yellow;
    border-color: $yellow;
  }
}

/* Region Posts & Events */

.regions {
  border-radius: 10px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;

   .category-button {
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  background-color: white;
  border-color: black;
  padding-top: 1px;
  padding-bottom: 1px;

  &:hover {
    color: white;
    border-color: black;
    background-color: black;
  }
 }

 .subscribe-button {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    color: $pink;
    background-color: white;
    border-color: $pink;
    padding-top: 1px;
    padding-bottom: 1px;

    &:hover {
      color: white;
      background-color: $pink;
    }
  }

  .nav-button {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
    color: $blue;
    background-color: white;
    border-color: $blue;
    padding-top: 1px;
    padding-bottom: 1px;

    &:hover {
      color: white;
      border-color: $blue;
      background-color: $blue;
    }
  }
}

.categories {
  border-radius: 10px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;

  .category-button {
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  background-color: white;
  border-color: black;
  padding-top: 1px;
  padding-bottom: 1px;

  &:hover {
    color: white;
    border-color: black;
    background-color: black;
  }
}
}

.submissions {
  margin-top: 10px;
}

.post {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.event {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;

}

.feed-margin {
 margin-top: 20px;
}

.sidenav-margin {
  padding-left: 0px;
  margin-top: 20px;
}

.region {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: $pink;
}

.subregions {
  margin-top: 10px;
   border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: $pink;
}

/* footer */

footer {
  .container_fluid {
    padding-botton: 0px;
  }

  .footer_links {
    word-spacing: 25px;

    a {
      color: white;
      font-size: 16px;
    }
  }

  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center;
}

.panel-danger {

  .panel-heading {
    color: $pink;
    background-color: $lightPink;
    border-bottom: 1px solid $pink;
  }
  a {
    color: $pink;
  }

}

