@import "bootstrap-sprockets";
@import "bootstrap";

$pink: rgb(236,0,140);
$blue: rgb(0,174,239);
$gray: #d6d5d4;
$black: #333;

/* Landing Page */

.landing-body {
  color: $black;
  background-color: white;
  padding: 0px;
}

.logo-subscribe {
  max-width: 80%;
}


.subscribe-container {
  background-color: white;
  margin-top: 40px;
  max-width: 900px;
  border-style: solid;
  border-color: $pink;
  border-radius: 10px;
  border-width: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.city-logo {
  max-width: 95%;
  height: auto;
}

/* Navbar */

.logo {
  margin-top: 10px;
  height: 30px;
  width: auto;
}


    .navbar-right {
      margin-right: 0px;
    }

.navbar {
  background-color: $pink;
  border-color: $pink;
  border-top: 0;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  margin-bottom: 0px;
  z-index: 9999;

  .navbar-nav {

    > li{
      margin-left:10px;
    }

    .sign-button {
      margin-top: 9px;
      font-size: 20px;
      color: white;
      background-color: $pink;
      border-color: white;
      padding-top: 1px;
      padding-bottom: 1px;
    }

    .sign-button:hover {
      color: white;
      background-color: $pink;
      border-color: white;
    }
  }
}

/* Devise Views */

.sign-in-button {
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  color: $pink;
  background-color: white;
  border-color: $pink;
  padding-top: 1px;
  padding-bottom: 1px;

  &:hover {
    color: $pink;
    background-color: white;
    border-color: $pink;
  }
}

.settings-container {
  margin-top: 40px;
  width: 400px;
}

.authentication-container {
  margin-top:40px;
  width: 805px;
}

.item-container {
  margin-top: 40px;
}

.settings-background {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: $gray;
}

.sign-up {
  border-right: 1px solid;
  border-color: $pink;
  padding-left: 25px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.sign-in {
  padding-right: 25px;
  padding-left: 40px;
}

.login-background {
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: $gray;
}

.g-recaptcha {
  margin: 0 auto;display: table
}

.bottom-margin-form {
  margin-bottom: 10px;
}

.button-100 {
  width: 100%;
}

.remember-me {
  font-size: 14px;
}

.forgot-password {
  font-size: 14px;
  margin-left: 98px;
}

.checkbox input[type="checkbox"] {
  margin-left: 0;
}

/* Region Index */

.region-index {
  margin-top: 40px;
}

.city {
  padding-left: 20px;
  padding-right: 20px;
  border-color: $gray;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}

.city-logo {
  max-width: 100%;
}

/* User Feed */

.user-feed {
  h3 {
    margin-top: 8px;
  }
  margin-top: 20px;
}

.like-count {
  margin-top: 5px;
}

.glyph-active {
  color: $pink;
}

.like-button {
  border-style: none;
  background-color: white;
}

/* Region Posts & Events */

.nav-black-button {
  width: 100%;
  font-size: 15px;
  margin-bottom: 10px;
  color: $black;
  background-color: white;
  border-color: $black;
  padding-top: 1px;
  padding-bottom: 1px;

  &:hover {
    color: $black;
    border-color: $black;
    background-color: white;
  }
}

.nav-pink-button {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
    color: $pink;
    background-color: white;
    border-color: $pink;
    padding-top: 1px;
    padding-bottom: 1px;

  &:hover {
    color: $pink;
    background-color: white;
    border-color: $pink;
  }
}

.nav-blue-button {
  width: 100%;
  font-size: 15px;
  margin-bottom: 10px;
  color: $blue;
  background-color: white;
  border-color: $blue;
  padding-top: 1px;
  padding-bottom: 1px;

  &:hover {
    color: $blue;
    border-color: $blue;
    background-color: white;
  }
}


.item {
  border-color: $gray;
  border-bottom-style: solid;
  border-width: 1px;
  color: $gray;
  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  a {
    color: $black;
    text-decoration: none;
  }
}

.region-feed {
 margin-top: 20px;
}

.feed-container {
  max-width: 1200px;
}

.sidenav {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 20px;
}

body {
  padding-top: 50px;
}
