// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$pink: rgb(255,140,220);
$yellow: rgb(255,253,96);
$blue: rgb(0,174,239);
$grayLighter: #eeeeee;

.event-row {
  background-color: $pink;
}

.post-row {
  background-color: $yellow;
}