<div class="container">
  <h1> This is where a list of cities will be </h1>

  <% @regions.each do |region| %>
  <h1><%= link_to region.name, region_feed_path(region.slug) %>
  <% end %>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-danger">
      <div class="panel-heading">Popular</div>
        <% for region in @regions %>
          <h3><%= link_to region.name, region_feed_path(region.slug) %></h3>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">Recently Added</div>
        <% for region in @regions %>
          <h3><%= link_to region.name, region_feed_path(region.slug) %></h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
