<div class="container region-index">
  <% for region in @regions %>
    <div class="col-md-6">
      <div class="col-md-12 text-center city">
        <%= link_to region.name, region_path(region.slug), class: "btn btn-primary sign-in-button bottom-margin-form" %>
        <%= image_tag("dc-skyline.png", class: "city-logo") %>
        <%= link_to "Subscribe", "#", class: "btn btn-primary sign-in-button bottom-margin-form" %>
      </div>
    </div>
  <% end %>
</div>
