<div class="container regions-container">
  <div class="col-md-12">
    <% for region in @regions %>
      <div class="col-xs-6">
        <div class="col-xs-12 text-center individual-city">
          <%= link_to region.name, region_path(region.slug), class: "btn btn-primary pink-button-100 bottom-margin-form" %>
          <%= image_tag('washington-dc-city.png', class: "city-logo") %>
          <%= link_to "Subscribe", "#", class: "btn btn-primary pink-button-100" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
