<footer class="container-fluid">
  <div class="footer_links button-margin-bottom">
    <a href="#">Music</a>
    <a href="#">Films</a>
    <a href="#">Arts</a>
    <a href="#">Sports</a>
  </div>
</footer>
